<h3>HEAD</h3>

<h3>4.3.0 (September 10, 2013)</h3>

<ul>
<li>Use one apple-touch-icon instead of six (<a href="https://github.com/h5bp/html5-boilerplate/issues/1367">#1367</a>).</li>
<li>Move font-related declarations from <code>body</code> to <code>html</code> (<a href="https://github.com/h5bp/html5-boilerplate/issues/1411">#1411</a>).</li>
<li>Update to Apache Server Configs 1.1.0.</li>
<li>Add <code>initial-scale=1</code> to the viewport <code>meta</code> (<a href="https://github.com/h5bp/html5-boilerplate/pull/1398">#1398</a>).</li>
<li>Vertical centering for audio-, canvas- and video-tags (<a href="https://github.com/h5bp/html5-boilerplate/issues/1326">#1326</a>).</li>
<li>Remove Google Chrome Frame related code (<a href="https://github.com/h5bp/html5-boilerplate/pull/1379">#1379</a>, <a href="https://github.com/h5bp/html5-boilerplate/pull/1396">#1396</a>).</li>
<li>Update to Google Universal Analytics (<a href="https://github.com/h5bp/html5-boilerplate/issues/1347">#1347</a>).</li>
<li>Update to jQuery 1.10.2.</li>
<li>Update to Normalize.css 1.1.3.</li>
</ul>


<h3>4.2.0 (April 8, 2013)</h3>

<ul>
<li>Remove Google Analytics protocol check (<a href="https://github.com/h5bp/html5-boilerplate/pull/1319">#1319</a>).</li>
<li>Update to Normalize.css 1.1.1.</li>
<li>Update Apache configurations to include the latest changes in the canonical
<a href="https://github.com/h5bp/server-configs-apache"><code>.htaccess</code></a> file.</li>
<li>Use a protocol relative URL for the 404 template script.</li>
<li>Update to jQuery 1.9.1.</li>
</ul>


<h3>4.1.0 (January 21, 2013)</h3>

<ul>
<li>Update to Normalize.css 1.1.0.</li>
<li>Update to jQuery 1.9.0.</li>
</ul>


<h3>4.0.3 (January 12, 2013)</h3>

<ul>
<li>Use 32x32 favicon.ico (<a href="https://github.com/h5bp/html5-boilerplate/pull/1286">#1286</a>).</li>
<li>Remove named function expression in plugins.js (<a href="https://github.com/h5bp/html5-boilerplate/pull/1280">#1280</a>).</li>
<li>Adjust CSS image-replacement code (<a href="https://github.com/h5bp/html5-boilerplate/issues/1239">#1239</a>).</li>
<li>Update HiDPI example media query (<a href="https://github.com/h5bp/html5-boilerplate/issues/1127">#1127</a>).</li>
</ul>


<h3>4.0.2 (December 9, 2012)</h3>

<ul>
<li>Update placeholder icons.</li>
<li>Update to Normalize.css 1.0.2.</li>
<li>Update to jQuery 1.8.3.</li>
</ul>


<h3>4.0.1 (October 20, 2012)</h3>

<ul>
<li>Further improvements to <code>console</code> method stubbing (<a href="https://github.com/h5bp/html5-boilerplate/issues/1206">#1206</a>, <a href="https://github.com/h5bp/html5-boilerplate/pull/1229">#1229</a>).</li>
<li>Update to jQuery 1.8.2.</li>
<li>Update to Modernizr 2.6.2.</li>
<li>Minor additions to the documentation.</li>
</ul>


<h3>4.0.0 (August 28, 2012)</h3>

<ul>
<li>Improve the Apache compression configuration (<a href="https://github.com/h5bp/html5-boilerplate/issues/1012">#1012</a>, <a href="https://github.com/h5bp/html5-boilerplate/issues/1173">#1173</a>).</li>
<li>Add a HiDPI example media query (<a href="https://github.com/h5bp/html5-boilerplate/issues/1127">#1127</a>).</li>
<li>Add bundled docs (<a href="https://github.com/h5bp/html5-boilerplate/issues/1154">#1154</a>).</li>
<li>Add MIT license (<a href="https://github.com/h5bp/html5-boilerplate/issues/1139">#1139</a>).</li>
<li>Update to Normalize.css 1.0.1.</li>
<li>Separate Normalize.css from the rest of the CSS (<a href="https://github.com/h5bp/html5-boilerplate/issues/1160">#1160</a>).</li>
<li>Improve <code>console.log</code> protection (<a href="https://github.com/h5bp/html5-boilerplate/issues/1107">#1107</a>).</li>
<li>Replace hot pink text selection color with a neutral color.</li>
<li>Change image replacement technique (<a href="https://github.com/h5bp/html5-boilerplate/issues/1149">#1149</a>).</li>
<li>Code format and consistency changes (<a href="https://github.com/h5bp/html5-boilerplate/issues/1112">#1112</a>).</li>
<li>Rename CSS file and rename JS files and subdirectories.</li>
<li>Update to jQuery 1.8 (<a href="https://github.com/h5bp/html5-boilerplate/issues/1161">#1161</a>).</li>
<li>Update to Modernizr 2.6.1 (<a href="https://github.com/h5bp/html5-boilerplate/issues/1086">#1086</a>).</li>
<li>Remove uncompressed jQuery (<a href="https://github.com/h5bp/html5-boilerplate/issues/1153">#1153</a>).</li>
<li>Remove superfluous inline comments (<a href="https://github.com/h5bp/html5-boilerplate/issues/1150">#1150</a>).</li>
</ul>


<h3>3.0.2 (February 19, 2012)</h3>

<ul>
<li>Update to Modernizr 2.5.3.</li>
</ul>


<h3>3.0.1 (February 08, 2012).</h3>

<ul>
<li>Update to Modernizr 2.5.2 (includes html5shiv 3.3).</li>
</ul>


<h3>3.0.0 (February 06, 2012)</h3>

<ul>
<li>Improvements to <code>.htaccess</code>.</li>
<li>Improve 404 design.</li>
<li>Simplify JS folder structure.</li>
<li>Change <code>html</code> IE class names changed to target ranges rather than specific versions of IE.</li>
<li>Update CSS to include latest normalize.css changes and better typographic defaults (<a href="https://github.com/h5bp/html5-boilerplate/issues/825">#825</a>).</li>
<li>Update to Modernizr 2.5 (includes yepnope 1.5 and html5shiv 3.2).</li>
<li>Update to jQuery 1.7.1.</li>
<li>Revert to async snippet for the Google Analytics script.</li>
<li>Remove the ant build script (<a href="https://github.com/h5bp/html5-boilerplate/issues/826">#826</a>).</li>
<li>Remove Respond.js (<a href="https://github.com/h5bp/html5-boilerplate/issues/816">#816</a>).</li>
<li>Remove the <code>demo/</code> directory (<a href="https://github.com/h5bp/html5-boilerplate/issues/808">#808</a>).</li>
<li>Remove the <code>test/</code> directory (<a href="https://github.com/h5bp/html5-boilerplate/issues/808">#808</a>).</li>
<li>Remove Google Chrome Frame script for IE6 users; replace with links to Chrome Frame and options for alternative browsers.</li>
<li>Remove <code>initial-scale=1</code> from the viewport <code>meta</code> (<a href="https://github.com/h5bp/html5-boilerplate/issues/824">#824</a>).</li>
<li>Remove <code>defer</code> from all scripts to avoid legacy IE bugs.</li>
<li>Remove explicit Site Speed tracking for Google Analytics. It&rsquo;s now enabled by default.</li>
</ul>


<h3>2.0.0 (August 10, 2011)</h3>

<ul>
<li>Change starting CSS to be based on normalize.css instead of reset.css (<a href="https://github.com/h5bp/html5-boilerplate/issues/500">#500</a>).</li>
<li>Add Respond.js media query polyfill.</li>
<li>Add Google Chrome Frame script prompt for IE6 users.</li>
<li>Simplify the <code>html</code> conditional comments for modern browsers and add an <code>oldie</code> class.</li>
<li>Update clearfix to use &ldquo;micro clearfix&rdquo;.</li>
<li>Add placeholder CSS MQs for mobile-first approach.</li>
<li>Add <code>textarea { resize: vertical; }</code> to only allow vertical resizing.</li>
<li>Add <code>img { max-width: 100%; }</code> to the print styles; prevents images being truncated.</li>
<li>Add Site Speed tracking for Google Analytics.</li>
<li>Update to jQuery 1.6.2 (and use minified by default).</li>
<li>Update to Modernizr 2.0 Complete, Production minified (includes yepnope, html5shiv, and Respond.js).</li>
<li>Use <code>Modernizr.load()</code> to load the Google Analytics script.</li>
<li>Much faster build process.</li>
<li>Add build script options for CSSLint, JSLint, JSHint tools.</li>
<li>Build script now compresses all images in subfolders.</li>
<li>Build script now versions files by SHA hash.</li>
<li>Many <code>.htaccess</code> improvements including: disable directory browsing, improved support for all versions of Apache, more robust and extensive HTTP compression rules.</li>
<li>Remove <code>handheld.css</code> as it has very poor device support.</li>
<li>Remove touch-icon <code>link</code> elements from the HTML and include improved touch-icon support.</li>
<li>Remove the cache-busting query paramaters from files references in the HTML.</li>
<li>Remove IE6 PNGFix.</li>
</ul>


<h3>1.0.0 (March 21, 2011)</h3>

<ul>
<li>Rewrite build script to make it more customizable and flexible.</li>
<li>Add a humans.txt.</li>
<li>Numerous <code>.htaccess</code> improvements (including inline documentation).</li>
<li>Move the alternative server configurations to the H5BP server configs repo.</li>
<li>Use a protocol-relative url to reference jQuery and prevent mixed content warnings.</li>
<li>Optimize the Google Analytics snippet.</li>
<li>Use Eric Meyer&rsquo;s recent CSS reset update and the HTML5 Doctor reset.</li>
<li>More robust <code>sub</code>/<code>sup</code> CSS styles.</li>
<li>Add keyboard <code>.focusable</code> helper class that extends <code>.visuallyhidden</code>.</li>
<li>Print styles no longer print hash or JavaScript links.</li>
<li>Add a print reset for IE&rsquo;s proprietary filters.</li>
<li>Remove IE9-specific conditional class on the <code>html</code> element.</li>
<li>Remove margins from lists within <code>nav</code> elements.</li>
<li>Remove YUI profiling.</li>
</ul>

