<h1><a href="http://html5boilerplate.com">HTML5 Boilerplate</a></h1>

<p>HTML5 Boilerplate is a professional front-end template for building fast,
robust, and adaptable web apps or sites.</p>

<p>This project is the product of many years of iterative development and combined
community knowledge. It does not impose a specific development philosophy or
framework, so you&rsquo;re free to architect your code in the way that you want.</p>

<ul>
<li>Source: <a href="https://github.com/h5bp/html5-boilerplate">https://github.com/h5bp/html5-boilerplate</a></li>
<li>Homepage: <a href="http://html5boilerplate.com">http://html5boilerplate.com</a></li>
<li>Twitter: <a href="http://twitter.com/h5bp">@h5bp</a></li>
</ul>


<h2>Quick start</h2>

<p>Choose one of the following options:</p>

<ol>
<li>Download the latest stable release from
<a href="http://html5boilerplate.com/">html5boilerplate.com</a> or a custom build from
<a href="http://www.initializr.com">Initializr</a>.</li>
<li>Clone the git repo — <code>git clone
https://github.com/h5bp/html5-boilerplate.git</code> - and checkout the tagged
release you&rsquo;d like to use.</li>
</ol>


<h2>Features</h2>

<ul>
<li>HTML5 ready. Use the new elements with confidence.</li>
<li>Cross-browser compatible (Chrome, Opera, Safari, Firefox 3.6+, IE6+).</li>
<li>Designed with progressive enhancement in mind.</li>
<li>Includes <a href="http://necolas.github.com/normalize.css/">Normalize.css</a> for CSS
normalizations and common bug fixes.</li>
<li>The latest <a href="http://jquery.com/">jQuery</a> via CDN, with a local fallback.</li>
<li>The latest <a href="http://modernizr.com/">Modernizr</a> build for feature detection.</li>
<li>IE-specific classes for easier cross-browser control.</li>
<li>Placeholder CSS Media Queries.</li>
<li>Useful CSS helpers.</li>
<li>Default print CSS, performance optimized.</li>
<li>Protection against any stray <code>console.log</code> causing JavaScript errors in
IE6/7.</li>
<li>An optimized Google Analytics snippet.</li>
<li>Apache server caching, compression, and other configuration defaults for
Grade-A performance.</li>
<li>Cross-domain Ajax and Flash.</li>
<li>&ldquo;Delete-key friendly.&rdquo; Easy to strip out parts you don&rsquo;t need.</li>
<li>Extensive inline and accompanying documentation.</li>
</ul>


<h2>Documentation</h2>

<p>Take a look at the <a href="doc/TOC.md">documentation table of contents</a>. This
documentation is bundled with the project, which makes it readily available for
offline reading and provides a useful starting point for any documentation you
want to write about your project.</p>

<h2>Contributing</h2>

<p>Anyone and everyone is welcome to <a href="CONTRIBUTING.md">contribute</a>. Hundreds of
developers have helped make the HTML5 Boilerplate what it is today.</p>
