<p><a href="http://html5boilerplate.com">HTML5 Boilerplate homepage</a> | <a href="TOC.md">Documentation
table of contents</a></p>

<h1>The CSS</h1>

<p>The HTML5 Boilerplate starting CSS includes:</p>

<ul>
<li><a href="https://github.com/necolas/normalize.css">Normalize.css</a>.</li>
<li>Useful HTML5 Boilerplate defaults.</li>
<li>Common helpers.</li>
<li>Placeholder media queries.</li>
<li>Print styles.</li>
</ul>


<p>This starting CSS does not rely on the presence of conditional classnames,
conditional style sheets, or Modernizr. It is ready to use whatever your
development preferences happen to be.</p>

<h2>Normalize.css</h2>

<p>Normalize.css is a modern, HTML5-ready alternative to CSS resets. It contains
extensive inline documentation. Please refer to the <a href="http://necolas.github.com/normalize.css/">Normalize.css
project</a> for more information.</p>

<h2>HTML5 Boilerplate defaults</h2>

<p>This project includes a handful of base styles that build upon Normalize.css.
These include:</p>

<ul>
<li>Basic typography settings to provide improved text readability by default.</li>
<li>Protection against unwanted <code>text-shadow</code> during text highlighting.</li>
<li>Tweaks to default image alignment, fieldsets, and textareas.</li>
<li>A pretty Chrome Frame prompt.</li>
</ul>


<p>You are free to modify or add to these base styles as your project requires.</p>

<h2>Common helpers</h2>

<h4><code>.ir</code></h4>

<p>Add the <code>.ir</code> class to any element you are applying image-replacement to. When
replacing an element&rsquo;s content with an image, make sure to also set a specific
<code>background-image: url(pathtoimage.png);</code>, <code>width</code>, and <code>height</code> so that your
replacement image appears.</p>

<h4><code>.hidden</code></h4>

<p>Add the <code>.hidden</code> class to any elements that you want to hide from all
presentations, including screen readers. It could be an element that will be
populated later with JavaScript or an element you will hide with JavaScript. Do
not use this for SEO keyword stuffing. That is just not cool.</p>

<h4><code>.visuallyhidden</code></h4>

<p>Add the <code>.visuallyhidden</code> class to hide text from browsers but make it
available for screen readers. You can use this to hide text that is specific to
screen readers but that other users should not see. <a href="http://www.webaim.org/techniques/css/invisiblecontent/">About invisible
content</a>, <a href="http://snook.ca/archives/html_and_css/hiding-content-for-accessibility">Hiding
content for
accessibility</a>,
<a href="https://github.com/h5bp/html5-boilerplate/issues/194/">HTML5 Boilerplate
issue/research</a>.</p>

<h4><code>.invisible</code></h4>

<p>Add the <code>.invisible</code> class to any element you want to hide without affecting
layout. When you use <code>display: none</code> an element is effectively removed from the
layout. But in some cases you want the element to simply be invisible while
remaining in the flow and not affecting the positioning of surrounding
content.</p>

<h4><code>.clearfix</code></h4>

<p>Adding <code>.clearfix</code> to an element will ensure that it always fully contains its
floated children. There have been many variants of the clearfix hack over the
years, and there are other hacks that can also help you to contain floated
children, but the HTML5 Boilerplate currently uses the <a href="http://nicolasgallagher.com/micro-clearfix-hack/">micro
clearfix</a>.</p>

<h2>Media Queries</h2>

<p>The boilerplate makes it easy to get started with a &ldquo;Mobile First&rdquo; and
<a href="http://www.alistapart.com/articles/responsive-web-design/">Responsive Web
Design</a> approach to
development. But it&rsquo;s worth remembering that there are <a href="http://www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/">no silver
bullets</a>.</p>

<p>We include a placeholder Media Queries to build up your mobile styles for wider
viewports and high-resolution displays. It&rsquo;s recommended that you adapt these
Media Queries based on the content of your site rather than mirroring the fixed
dimensions of specific devices.</p>

<p>If you do not want to take a &ldquo;Mobile First&rdquo; approach, you can simply edit or
remove these placeholder Media Queries. One possibility would be to work from
wide viewports down and use <code>max-width</code> MQs instead, e.g., <code>@media only screen
and (max-width: 480px)</code>.</p>

<p>Take a look into the <a href="https://github.com/h5bp/mobile-boilerplate">Mobile
Boilerplate</a> for features that are
useful when developing mobile wep apps.</p>

<h2>Print styles</h2>

<ul>
<li>Print styles are inlined to <a href="http://www.phpied.com/delay-loading-your-print-css/">reduce the number of page
requests</a>.</li>
<li>We strip all background colors, change the font color to black and remove
text-shadow. This is meant to <a href="http://www.sanbeiji.com/archives/953">help save printer ink and make the printing
process much faster</a>.</li>
<li>Anchors do not need colors to indicate they are linked. They are underlined
to indicate so.</li>
<li>Anchors and Abbreviations are expanded to indicate where users reading the
printed page can refer to.</li>
<li>But we do not want to show link text for image replaced elements (given that
they are primarily images).</li>
</ul>


<h3>Paged media styles</h3>

<ul>
<li>Paged media is supported only in a <a href="http://en.wikipedia.org/wiki/Comparison_of_layout_engines_%28Cascading_Style_Sheets%29#Grammar_and_rules">few
browsers</a>.</li>
<li>Paged media support means browsers would know how to interpret instructions
on breaking content into pages and on orphans/widows.</li>
<li>We use <code>page-break-inside: avoid;</code> to prevent an image and table row from
being split into two different pages, so use the same <code>page-break-inside:
avoid;</code> for that as well.</li>
<li>Headings should always appear with the text they are titles for. So, we
ensure headings never appear in a different page than the text they describe
by using <code>page-break-after: avoid;</code>.</li>
<li>We also apply a default margin for the page specified in <code>cm</code>.</li>
<li>We do not want <a href="http://en.wikipedia.org/wiki/Widows_and_orphans">orphans and
widows</a> to appear on pages
you print. So, by defining <code>orphans: 3</code> and <code>widows: 3</code> you define the minimal
number of words that every line should contain.</li>
</ul>

