<p><a href="http://html5boilerplate.com">HTML5 Boilerplate homepage</a> | <a href="TOC.md">Documentation
table of contents</a></p>

<h1>The JavaScript</h1>

<p>Information about the default JavaScript included in the project.</p>

<h2>main.js</h2>

<p>This file can be used to contain or reference your site/app JavaScript code.
For larger projects, you can make use of a JavaScript module loader, like
<a href="http://requirejs.org/">Require.js</a>, to load any other scripts you need to
run.</p>

<h2>plugins.js</h2>

<p>This file can be used to contain all your plugins, such as jQuery plugins and
other 3rd party scripts.</p>

<p>One approach is to put jQuery plugins inside of a <code>(function($){ ...
})(jQuery);</code> closure to make sure they&rsquo;re in the jQuery namespace safety
blanket. Read more about <a href="http://docs.jquery.com/Plugins/Authoring#Getting_Started">jQuery plugin
authoring</a></p>

<h2>vendor</h2>

<p>This directory can be used to contain all 3rd party library code.</p>

<p>Minified versions of the latest jQuery and Modernizr libraries are included by
default. You may wish to create your own <a href="http://www.modernizr.com/download/">custom Modernizr
build</a>.</p>
